
:root {
  --primary-background: rgb(14, 48, 64);
  --primary-background-light: rgba(14, 58, 74);
  --secondary-background: rgb(1, 74, 70);
  --secondary-background-light: rgba(1, 84, 80, 0.667);
  --primary-icon: rgb(211, 172, 0);
  --primarcy-icon-light: rgb(255, 225, 43);
  --secondary-icon: rgb(126, 204, 132);
  --secondary-icon-light: rgb(126, 214, 142);
  --primary-header: var(--primary-icon);
  --primary-header-light: var(--primarcy-icon-light);
  --primary-text-color: white;
}

body {
  margin: 30px 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--secondary-background);
  overflow: auto;
}

.body {
  margin: 10px;
  color: var(--primary-text-color);
  display: inline;
  text-align: center;
}

h1, h2 {
  color: var(--primary-header);
}
h3 {
  color: var(--primary-header-light);
}

button {
  margin: 5px;
}

.aboutPage img {
  max-width: 50px;
  max-height: 50px;
  padding-right: 5px;
  transform: translateY(50%)
}

.aboutPage pre {
  display: inline;
}

.latestMovie pre {
  display: inline-flex;
  width: 500px;
  text-align: justify;
  white-space: pre-wrap;
}

ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.unstyled {
  padding: 8px;
  width: auto;
  height: auto;
  line-height: 0;
  text-decoration: none;
  color: var(--primary-header-light);
}

/* FireFox link styles */
h3 a.unstyled, a:visited {
  padding: 8px;
  width: auto;
  height: auto;
  line-height: 0;
  text-decoration: none;
  color: var(--primary-header-light);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height:20px;
  text-align: center;
  vertical-align: middle;
  line-height:20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, var(--primary-background), var(--primary-background-light));
}

nav li {
  float: left;
}

nav button {
  float: right;
  vertical-align: middle;
  margin: 14px 8px;
  padding: 4px;
  background-color: var(--primary-icon);
  border: var(--primary-icon-light);
  color: var(--primary-text-color)
}

nav li a {
  display: block;
  color: var(--primary-text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: var(--primary-background-light);
}

nav li a img {
  width: 32px;
  height: auto;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
